@use "../mixins/fluid" as *;

.c-buttons {
  display: flex;
  flex-flow: row wrap;
  gap: #{fluid(16px, 24px)};
  margin-top: var(--spacing-md);

  &:first-child {
    margin-top: 0;
  }
}

.c-button {
  position: relative;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: #{fluid(6px, 12px)}  #{fluid(16px, 32px)};
  text-align: center;
  text-decoration: none;
  font-size: #{fluid(14px, 18px)};
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 2px;
  color: var(--color-text-inverted);
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border-color 0.4s ease-in-out;
  background-color: var(--color-7);
  height: #{fluid(40px, 48px)};
  border: 1px solid var(--color-7);
  border-radius: #{fluid(20px, 24px)};

  .c-icon {
    margin-left: 12px;
    width: #{fluid(16px, 20px)};
    height: #{fluid(16px, 20px)};
    color: var(--color-text-inverted);

    svg path {
      fill: var(--color-text-inverted);
      transition: fill 0.4s ease-in-out;
    }
  }

  &:hover, &:focus {
    background-color: transparent;
    color: var(--color-5);

    .c-icon svg path {
      fill: var(--color-5);
    }
  }

}
