@use "../mixins/breakpoints" as *;
@use "../mixins/grid" as *;
@use "../mixins/fluid" as *;

.c-overline {
  display: block;

  span {
    display: inline-block;
    font-size: #{fluid(12px, 14px)};
    border-radius: #{fluid(4px, 8px)};
    background-color: var(--color-background-3);
    border: 1px solid var(--color-background-3);
    padding: #{fluid(4px, 6px)};
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: 400;
    color: var(--color-5);
    text-transform: uppercase;
  }
}

