@use "../../../assets/styles/mixins/breakpoints" as *;
@use "../../../assets/styles/mixins/grid" as *;
@use "../../../assets/styles/mixins/fluid" as *;

.b-page-links {

  .b__content {
    @include grid-column(24)
  }

  .b__content + .b__pagelinks {
    margin-top: var(--spacing-xl);
  }

  .b__pagelinks {
    @include grid-column(24);
  }

  .c-page-links {
    display: flex;
    flex-flow: row wrap;
    gap: var(--layout-gutter);
  }

  .c-page-links__item {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: var(--layout-gutter);
    background-color: var(--color-2);
    justify-content: space-between;
    padding: #{fluid(20px,28px)} #{fluid(16px,32px)};
    text-decoration: none;
    border-radius: var(--border-radius-sm);

    &:hover {
      background-color: #e1e1e1;
    }
  }

  .c-page-links__title {
    font-size: #{fluid(18px, 24px)};
    font-weight: 400;
    color: var(--color-text);
    display: flex;
    align-items: center;
  }

  .c-page-links__icon {

    display: flex;
    align-items: center;

    .c-icon {
      width: #{fluid(24px,32px)};
      height: #{fluid(24px,32px)};

      svg path {
        fill: var(--color-1);
      }
    }
  }
}

@include breakpoint(md) {
  .b-page-links {
    .c-page-links__item {
      width: calc(50% - (var(--layout-gutter) / 2));
    }
  }
}
