@use "../../../assets/styles/mixins/breakpoints" as *;
@use "../../../assets/styles/mixins/grid" as *;
@use "../../../assets/styles/mixins/fluid" as *;

.b-counter {

  .b__counter {
    @include grid-column(24);
    background: var(--color-background-5);
  }

  .c-counter {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    row-gap: #{fluid(40px,80px)};
    background-color: var(--color-background-3);
    padding: #{fluid(40px,80px)} #{fluid(16px,32px)};

    .c-counter__item {
      text-align: center;
      width: 100%;
    }

    .c-counter__icon {
      margin-bottom: var(--spacing-md);

      .c-icon {
        width: #{fluid(48px, 64px)};
        height: #{fluid(48px, 64px)};

        svg path {
          fill: var(--color-4);
        }
      }
    }

    .c-counter__value {
      font-size: #{fluid(50px, 70px)};
      line-height: 1;
      font-weight: 600;
      margin-bottom: var(--spacing-md);
    }

  }
}

@include breakpoint(sm) {
  .b-counter {
    .b__counter {
    }

    .c-counter {
      .c-counter__item {
        width: 50%;
      }
    }
  }
}

@include breakpoint(md) {
  .b-counter {
    .c-counter {
      .c-counter__item {
        width: 33.33%;
      }
    }
  }
}

@include breakpoint(lg) {
  .b-counter {
    .c-counter {
      .c-counter__item {
        width: 25%;
      }
    }
  }
}

@include breakpoint(xl) {
  .b-counter {
    .c-counter {
      .c-counter__item {
        width: 20%;
      }
    }
  }
}
