@use "../../../assets/styles/mixins/breakpoints" as *;
@use "../../../assets/styles/mixins/grid" as *;
@use "../../../assets/styles/mixins/fluid" as *;

.b-cta {
  padding-top: var(--block-padding);

  .b__wrapper {
    background-color: var(--color-1);
    @include grid-column(24);
    border-radius: var(--border-radius-lg);
    padding: #{fluid(32px, 64px)};
    padding-right: 0;
    overflow: visible;
  }

  .b__content {
    color: var(--color-text-inverted);

    .c-headline {
      color: var(--color-text-inverted);
    }

    .c-text {

    }

    .c-button {
      &:hover, &:focus {
        background-color: var(--color-background-1);
        border-color: var(--color-background-1);
        color: var(--color-text);

        .c-icon svg path {
          fill: var(--color-text);
        }
      }
    }
  }

  .b__image {

    margin-bottom: calc(-1 * #{fluid(32px, 64px)});

    .c-media {
      height: 100%;

      &__image {
        object-fit: contain;
        height: auto;
        top: unset;
        bottom: 0;
      }
    }
  }
}

@include breakpoint(xs) {
  .b-cta {
    .b__content {
      @include grid-column(12);
    }

    .b__image {
      @include grid-column(12);
    }
  }
}

@include breakpoint(lg) {
  .b-cta {

  }
}

.b-faqs + .b-cta {
  margin-top: calc(var(--block-margin) / 2);
}