@use "../mixins/breakpoints" as *;
@use "../mixins/grid" as *;
@use "../mixins/fluid" as *;


.footer {
  overflow: clip;
  position: relative;
  background-color: var(--color-background-1);
  color: var(--color-text-inverted);

  a {
    color: var(--color-text-inverted);
    border-bottom: 1px solid transparent;
    transition: border-color 0.64s ease-in-out;

    &:hover {
      color: var(--color-text-inverted);
      border-bottom: 1px solid var(--color-text-inverted);
    }
  }

  .footer__branding {

    .footer__logo {
      width: #{fluid(128px, 192px)};
      margin-bottom: #{fluid(32px,40px)};

      .logo-default {
        display: block;
        width: 100%;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .footer__widgets {
    position: relative;
    padding-top: #{fluid(64px,128px)};

    .widgets__break {
      @include grid-column(24);
      margin-top: #{fluid(80px, 160px)};
    }

    .widgets__area {
      margin-top: 40px;
      @include grid-column(24);

      &:first-child {
        margin-top: 0;
      }
    }

    .widgets__area:nth-child(1) {
      h1, h2, h3, h4, h5, h6,
      .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: var(--font-headline);
        color: var(--color-3);
      }
    }
  }

  .footer__bottom {
    display: flex;
    flex-flow: column;
    padding-bottom: var(--spacing-xxl);
    padding-top: calc(var(--spacing-xxl) * 2);
    font-size: #{fluid(12px, 14px)};
  }

  .footer__copyright {
    order: 2;
    @include grid-column(24);
    margin-top: var(--spacing-md);
  }

  .footer__navigation {
    order: 1;
    @include grid-column(24);
  }

  .footer__decoration img {
    position: absolute;
    right: -10%;
    bottom: -10%;
    opacity: 0.1;
  }
}

@include breakpoint(sm) {
  .footer {

    .footer__widgets {

      .widgets__area:nth-of-type(1) {
        @include grid-column(24);
      }

      .widgets__area:nth-of-type(3) {
        @include grid-column(12);
      }

      .widgets__area:nth-of-type(4) {
        @include grid-column(12);
      }

      .widgets__area:nth-of-type(5) {
        @include grid-column(12);
      }

    }

    .footer__copyright {
      order: 1;
      margin-top: 0;
      @include grid-column(8);
    }

    .footer__navigation {
      order: 2;
      @include grid-column(16);
      display: flex;
      justify-content: flex-end;
    }
  }
}

@include breakpoint(md) {
  .footer {

    .footer__widgets {

      .widgets__area {
        margin-top: 0;
      }

      .widgets__area:nth-of-type(1) {
        @include grid-column(12);
      }

      .widgets__area:nth-of-type(3) {
        @include grid-column(8);
      }

      .widgets__area:nth-of-type(4) {
        @include grid-column(8);
      }

      .widgets__area:nth-of-type(5) {
        @include grid-column(8);
      }
    }
  }
}


@include breakpoint(xl) {

  .footer {

    .footer__bottom {
      padding-bottom: var(--spacing-md);
    }

    .footer__widgets {

      .widgets__area {
        margin-top: 0;
      }

      .widgets__area:nth-of-type(1) {
        @include grid-column(12);
      }

      .widgets__area:nth-of-type(3) {
        @include grid-column(7);
      }

      .widgets__area:nth-of-type(4) {
        @include grid-column(7, 1);
      }

      .widgets__area:nth-of-type(5) {
        @include grid-column(7);
      }
    }
  }
}

