@use "../mixins/breakpoints" as *;
@use "../mixins/grid" as *;
@use "../mixins/fluid" as *;


.footer {
  overflow: clip;
  position: relative;

  color: var(--color-text);

  a {
    color: var(--color-text);
    border-bottom: 1px solid transparent;
    transition: border-color 0.64s ease-in-out;

    &:hover {
      color: var(--color-1);
      border-bottom: 1px solid var(--color-1);
    }
  }

  .footer__branding {

    .footer__logo {
      width: #{fluid(128px, 192px)};
      margin-bottom: #{fluid(32px,40px)};

      .logo-default {
        display: block;
        width: 100%;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .footer__widgets {
    position: relative;

    .l-width {
      background-color: var(--color-background-3);
      border-radius: var(--border-radius-lg);
      padding: 0 var(--spacing-lg);
    }

    .widgets__area {
      margin-top: var(--spacing-xl);
      padding-bottom: var(--spacing-xl);
      @include grid-column(24);

      h1, h2, h3, h4, h5, h6,
      .h1, .h2, .h3, .h4, .h5, .h6 {
        color: var(--color-1);
        text-wrap: balance;
      }

      &:first-child {

      }
    }

  }

  .footer__bottom {
    display: flex;
    flex-flow: column;
    padding-bottom: var(--spacing-lg);
    padding-top: var(--spacing-lg);
    font-size: #{fluid(12px, 14px)};
  }

  .footer__copyright {
    order: 2;
    @include grid-column(24);
    margin-top: var(--spacing-md);
  }

  .footer__navigation {
    order: 1;
    @include grid-column(24);
  }

  .footer__decoration img {
    position: absolute;
    right: -10%;
    bottom: -10%;
    opacity: 0.1;
  }
}

@include breakpoint(sm) {
  .footer {

    .footer__widgets {

      .widgets__area:nth-of-type(1) {
        @include grid-column(24);
      }

      .widgets__area:nth-of-type(2) {
        @include grid-column(24);
      }

      .widgets__area:nth-of-type(3) {
        @include grid-column(12);
      }

      .widgets__area:nth-of-type(4) {
        @include grid-column(12);
      }

    }

    .footer__copyright {
      order: 1;
      margin-top: 0;
      @include grid-column(12);
    }

    .footer__navigation {
      order: 2;
      @include grid-column(12);
      display: flex;
      justify-content: flex-end;
    }
  }
}

@include breakpoint(md) {
  .footer {

    .footer__widgets {

      .widgets__area {

      }

      .widgets__area:nth-of-type(1) {
        @include grid-column(24);
      }

      .widgets__area:nth-of-type(2) {
        @include grid-column(8);
      }

      .widgets__area:nth-of-type(3) {
        @include grid-column(7, 1);
      }

      .widgets__area:nth-of-type(4) {
        @include grid-column(7, 1);
      }
    }
  }
}


@include breakpoint(xl) {

  .footer {

    .footer__bottom {
      padding-bottom: var(--spacing-md);
    }

    .footer__widgets {

      .widgets__area {
        margin-top: 0;
      }


    }
  }
}

