
@font-face {
  font-display: swap;
  font-family: 'PT Serif Caption';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-serif-caption-v18/pt-serif-caption-v18-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'PT Serif Caption';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/pt-serif-caption-v18/pt-serif-caption-v18-latin-italic.woff2') format('woff2');
}
