@use "../../../assets/styles/mixins/breakpoints" as *;
@use "../../../assets/styles/mixins/grid" as *;
@use "../../../assets/styles/mixins/fluid" as *;

.b-table {

  .b__table {
    @include grid-column(24);

    .c-label {
      display: block;

      span {
        display: inline-block;
        font-size: #{fluid(12px, 14px)};
        border-radius: #{fluid(4px, 8px)};
        background-color: var(--color-background-3);
        border: 1px solid var(--color-background-3);
        padding: #{fluid(4px, 6px)};
        line-height: 1.2;
        letter-spacing: 1px;
        font-weight: 400;
        color: var(--color-5);
        text-transform: uppercase;
      }
    }
  }

  .b__content:has(.c-text) + .b__form {
    margin-top: var(--spacing-xl);
  }

  .b__content + .b__form {
    margin-top: var(--spacing-md);
  }

}

@include breakpoint(lg) {
  .b-table {

    .b__table {

    }

  }
}
