@use "../../../assets/styles/mixins/breakpoints" as *;
@use "../../../assets/styles/mixins/grid" as *;
@use "../../../assets/styles/mixins/fluid" as *;

.b-video {

  .b__content {
    @include grid-column(24);
    text-align: center;
  }

  .b__video {
    @include grid-column(24);

    .c-media {
      overflow: hidden;
      border-radius: var(--border-radius-lg);
    }
  }

  .b__content + .b__video {
    margin-top: var(--spacing-xl);
  }
}

@include breakpoint(sm) {
  .b-video {
    .b__content {
      @include grid-column(16, 4);
    }

    .b__video {
      @include grid-column(20, 2);
    }
  }
}

@include breakpoint(lg) {
  .b-video {
    .b__content {
      @include grid-column(10, 7);
    }

    .b__video {
      @include grid-column(14, 5);
    }
  }
}
