@use "../../../assets/styles/mixins/breakpoints" as *;
@use "../../../assets/styles/mixins/grid" as *;
@use "../../../assets/styles/mixins/fluid" as *;

.b-text {

  .b__content {
    @include grid-column(24);
  }

  &.text-size-intro {
    .c-text {
      line-height: 1.6;
      font-size: #{fluid(16px, 20px)};
    }
  }

  &.alignment-center {
    text-align: center;

    .c-buttons {
      justify-content: center;
    }
  }
}

@include breakpoint(md) {
  .b-text {
    .b__content {
      @include grid-column(16, 4);
    }
  }
}

