@use "../../../assets/styles/mixins/breakpoints" as *;
@use "../../../assets/styles/mixins/grid" as *;
@use "../../../assets/styles/mixins/fluid" as *;

.b.b-hero {
  position: relative;

  &:first-child {
    margin-top: calc(var(--header-height) * -1);
    padding-top: calc(var(--block-padding) + var(--header-height));
  }

  .b__title {
    @include grid-column(24);
    position: relative;
    z-index: 1;
    margin-bottom: var(--spacing-xl);
    text-align: center;
  }

  .b__media {
    @include grid-column(24);

    .c-media {
      width: 100%;
      overflow: clip;
    }

    .c-media--fit-cover,
    .c-media--fit-contain {
      --media-aspect-ratio: 16/9;
    }
  }

  .b__content {
    @include grid-column(24);
    font-size: #{fluid(18px, 28px)};
    position: relative;
    z-index: 2;
    margin-top: var(--spacing-xl);
    text-align: center;

    .c-buttons {
      justify-content: center;
    }
  }


}

@include breakpoint(md) {
  .b.b-hero {

    .b__title, .b__content {
      @include grid-column(16, 4);
    }
  }
}
